/*
When use less, declare this variable.
@footer-height: 30px;
*/

/*
# structure
*/

html {
	min-height: 100%;
	position: relative;
}

body {
	background-image: url(../img/509011887-736x736-q50.jpg);
	-webkit-background-size: cover;
 	        background-size: cover;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	/* The url is relative to the document, not to the css file! */
	/* Prefer absolute urls to avoid confusion. */
	-ms-behavior: url(js/backgroundsize.min.htc);
}

@media (min-width: 768px) {
	body {
		background-image: url(../img/509011887-1000x900-q50.jpg);
	}
}

@media (min-width: 992px) {
	body {
		background-image: url(../img/509011887-1200x900-q50.jpg);
	}
}

@media (min-width: 1200px) {
	body {
		background-image: url(../img/509011887-1350x900-q50.jpg);
	}
}

/*
## for xs only
*/

footer {
	margin-top: 50px;
}

/*
## for sm ~ lg
*/

@media (min-width: 768px) {
	body {
		padding-bottom: 50px;	/* @footer-height */
	}

	main {
		pointer-events: none;
	}

	.like-items {
		position: absolute;
		bottom: 50px;    /* (@footer-height + 20px) */
		width: 100%;
		pointer-events: none;
	}

	.col-main,
	.col-aside {
		pointer-events: auto;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 30px;    /* @footer-height */
		margin-top: 0;
	}
}

/*
# styles
*/

/*
## font
*/

body {
	color: #fff;
	text-shadow: 0 0 5px #000, 0 0 15px #000;
}

a.btn {
	text-shadow: none;
}

a,
a:hover,
a:active {
	color: #fff;
}

h1, .h1 {
	font-size: 50px;
	font-family: 'Fredericka the Great', cursive;
}

@media (min-width: 568px) {
	h1, .h1 {
		font-size: 64px;
	}
}

@media (min-width: 768px) {
	h1, .h1 {
		font-size: 64px;
	}
}

@media (min-width: 992px) {
	h1, .h1 {
		font-size: 96px;
	}
}

h2, .h2 {
	font-size: 18px;
}

@media (min-width: 768px) {
	h2, .h2 {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	h2, .h2 {
		font-size: 30px;
	}
}

h3, .h3 {
	font-size: 16px;
}

@media (min-width: 768px) {
	h3, .h3 {
		font-size: 24px;
	}
}

h4, .h4 {
	font-size: 16px;
}

@media (min-width: 768px) {
	h4, .h4 {
		font-size: 18px;
	}
}

/*
## margin
*/

.tagline {
	margin-top: 20px;
}

.date {
	margin-top: 40px;
}

@media (min-width: 768px) {
	.date {
		margin-top: 80px;
	}
}

.contact {
	margin-top: 40px;
}

.contact .hidden-xs .btn + .btn {
	margin-left: 5px;
}

.contact .visible-xs-block .btn + .btn {
	margin-top: 10px;
}

.panel.hidden-xs {
	margin-bottom: 0;	/* conflict with margin-bottom of body */
}

/*
## others
*/

.panel {
	background-color: transparent;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 0 5px rgba(0, 0, 0, 0.25);
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 0 5px rgba(0, 0, 0, 0.25);
	        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25), inset 0 0 5px rgba(0, 0, 0, 0.25);
}

.btn {
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	   -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
     	    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.share-items-xs {
	width: 292px;
	padding: 10px 0;
	text-align: center;
	background-color: #eee;
	background-color: rgba(255, 255, 255, 0.5);
	height: 82px;
}

.share-item {
	vertical-align: top;
	margin: 0 5px;
	display: inline-block;
}

.follow {
	height: 239px;
}

.fb-like-box {
	background-color: #eee;
	background-color: rgba(255, 255, 255, 0.5);
}
