@media (min-width: 768px) {
	html, body {
		height: 100%;
	}
}

body {
	background-image: url(../img/509011887.jpg);
	background-size: cover;
	background-repeat: no-repeat no-repeat;
	background-position: center center;
	color: #fff;
}

h1, p {
	text-shadow: black 0 0 5px;
}

a.btn {
	text-shadow: none;
}

a,
a:hover,
a:active {
	color: #fff;
}

aside {
	margin-top: 30px;
}

footer {
	margin-top: 50px;
}

@media (min-width: 768px) {
	main {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		pointer-events: none;
	}

	aside {
		position: absolute;
		bottom: 50px;
		right: 0;
		width: 100%;
		pointer-events: none;
		margin-top: 0;
	}

	.col-main,
	.col-aside {
		pointer-events: auto;
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin-top: 0;
	}

h1, .h1 {
	font-size: 48px;
	font-family: 'Fredericka the Great', cursive;
}

@media (min-width: 768px) {
	h1, .h1 {
		font-size: 64px;
	}
}

@media (min-width: 992px) {
	h1, .h1 {
		font-size: 96px;
	}
}

h2, .h2 {
	font-size: 18px;
}

@media (min-width: 768px) {
	h2, .h2 {
		font-size: 24px;
	}
}

@media (min-width: 992px) {
	h2, .h2 {
		font-size: 30px;
	}
}

h3, .h3 {
	font-size: 16px;
}

@media (min-width: 768px) {
	h3, .h3 {
		font-size: 24px;
	}
}

h4, .h4 {
	font-size: 16px;
}

@media (min-width: 768px) {
	h4, .h4 {
		font-size: 18px;
	}
}

/*
## others
*/

.tagline {
	margin-top: 20px;
}

.date {
	margin-top: 40px;
}

@media (min-width: 768px) {
	.date {
		margin-top: 80px;
	}
}

.contact {
	margin-top: 40px;
}

.panel {
	background-color: transparent;
	box-shadow: 0 0 5px rgba(0,0,0,0.25), inset 0 0 5px rgba(0,0,0,0.25);
}

.btn {
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

.header {
	position: absolute;
	right: 0;
	top: 10px;
}
@media (max-width: 768px) {
	.header {
		display: none;
	}
}

.share {
	width: 292px;
	padding: 10px 0;
	text-align: center;
}
@media (min-width: 768px) {
	.share, .share-title, .follow-title {
		display: none;
	}
	background-color: rgba(255, 255, 255, 0.5);
	height: 82px;
}

.share-item {
	vertical-align: top;
	margin: 0 5px;
	display: inline-block;
}

.follow {
	height: 239px;
}

.fb-like-box {
	background-color: rgba(255, 255, 255, 0.75);
}

.panel {
    float: left;
    background-color: transparent;
}

